@media  screen and (max-width:1100px) {
    section {
        height: 100%;
    }
    section .container{
        padding: 20px 10px ;
        
    }
   
    
    section .container .hall_block .right{
        padding-left: 0px;
        max-width: 900px;
        
        /* background-color: red; */
    }
    
    
    section .container .left .right{
        flex-direction: column;
    }
  .halloween{
      width: 100%;
  }
 
}
@media screen and (max-width:760px) {
    section .container header nav ul a {
        display: block;
        padding-right: 0px;
        margin: 2px;
       
    }
   
}
@media screen and (max-width:718px) {
.lefft{
    padding:20px 69px 15px;
}
}
@media screen and (max-width:712px) {
    section .container{
        position: relative;
        right:  70px;
    }
    
    section .container .hall_block{
        flex-direction: column-reverse;
        /* margin-top: 50px; */
    }
    .block-text h3{
        font-size: 9px;
        text-align: center;
    }
    section .container .block-text h1{
        font-size: 41px;
    }
   
}
@media screen and (max-width:703px) {
    section .container .hall_block .left .halloween{
        width: 167px;
        height: 120px;
        position: relative;
        left: 15px;
    }
    section .container .hall_block .left p{
        text-align: center;
        
    }


}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.inc{
    color: white;
}
section {
    background: linear-gradient(
        136.16deg,
        rgba(91,135,75,0.97) 12.91%,
        rgba(12,55,32,0.87) 87.68%
    );
    height: 100vh;
}
section .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
}
section .container header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

/* section .container header 
section .container header .left{
    align-items: center;
} */
section .container nav {
    
    display: flex;
    flex-direction: row;
}

section .container nav a {
    margin-left:50px;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    
}

section .container nav a:nth-child(5){
    font-weight: 500;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
}
.halloween{
    width: 315px;
    /* width: 100%; */
    /* width: 300px; */
    /* height: 290px; */
    
}
section .container > .right{
    margin: 10px;
}
.hall_block{
    display: flex;
    margin-left: 9px;
    padding-left: 1px;
    
}
section .container .hall_block  .right{
    /* margin-left: 130px; */
    padding-left: 100px;
}

h3 {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    font-weight: bold;
    color: white;
}
h1{
    font-size: 41px;
    font-weight: bold;
    color: white;

}
.hall_block .block-text h1{
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 109%;
    margin: 14px 0px;
}
.hall_block .block-text p{
    font-size: 13px;
    line-height: 100%;
    font-weight: normal;
    font-style: normal;
    margin: 25px 0px;
    color: white;
    
}
.block-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book_now{
    padding: 10px 20px;
    background-color: rgb(211, 247, 159);
    border-top-left-radius:38% ;
    border-top-right-radius: 26%;
}
.track {
    color: white;
}
.labu{
    color: white;
    font-weight: bold;
}
.living {
    font-size: 11px;
    color: white;
}

.see{
    border: 2px solid white;
    color: white;
    border-top-left-radius:38% ;
    border-top-right-radius: 26%;
    border-bottom-left-radius: 49%;
    /* padding: 1px; */
    /* padding: 10px; */
    /* position: absolute;
    left: 430px;
    top:447px; */
    width: 100%;

}
.s{
    position: absolute;
    top: auto;
    right: 85px;
    text-align: center;
  width: 100%;
    
}
.logo{
    
    width: 17px;
}