.orange{
    background-color: #ff9966;
}
.bleu{
    background-color: #8ec5fd;
}
.nuance{
    background-color:#d599e0;
}
.jaune
{
    background-color: #fef85f;
}
.bl{
    background-color:#f7ebed;

}
.cl
{
    background-color: #c99917;
}
.nun{
    background-color: #e3e8fa;
}
.choc
{
    background-color: #e7d8a8;
}
.ver
{
    background-color: #cde88b;
}
.rouge
{
    color: red;
}
.bleu{
    color: blue;
}
div{
    border: 5px solid black;
    width: 640px;
    
}